.text-left
  padding-top: 187px
  overflow: hidden

  .container
    padding: 112px 0 113px
    position: relative

    &::before
      content: ""
      position: absolute
      height: 100%
      width: 100vw
      top: 0
      right: 209px
      background: #9B69C3
      border-radius: 0px 10px 10px 0px

  p
    color: rgba(255, 255, 255, 0.75)
    margin-bottom: 0

.text-bottom
  padding-top: 119px
