@font-face {
    font-family: 'Xolonium';
    src: url('Xolonium-Bold.woff2') format('woff2'),
        url('Xolonium-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

